.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  width: 100%;
}

.navbar{
  width: 80%;
  display: flex;
  justify-content: center;
}
  .navbar ul{
    display: flex;
    width: 50%;

    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 20px;
    overflow: hidden;
    background-color: #333;
  }
  .navbar li {
    float: left;
  }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar li a:hover {
    background-color: #111;
  }

  .routes {
    width: 80%;
    display: flex;
    justify-content: center;
  }
    .routers{
      display: flex;
      width: 50%;
    }