.red {
  color: red;
}
.green{
  color: green;
}
.operationsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  background-color: rgba(255, 236, 212, 0.404);
}
.operationContainer{
  display: flex;
  flex-direction: row;
  
  margin-bottom: 10px;
  padding: 2px;
  background-color: aliceblue;
  width: 35vw;
  height: 10vh;
  
  position: relative;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 5px #ccc;
}
.operation {
  display: flex;
  flex-direction: row;

  width: 95%;

  cursor: pointer;
}
  .date{
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 1px solid rgb(130, 243, 243);

    width: 20%;
    font-size: 11px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;

    margin-right: 5px;
    padding-right: 5px;
  }
  .concept {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 5px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    width: 50%;
  }
  .amountContainer{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(130, 243, 243, 0.308);

    border-radius: 6px;
  }
    .amount {
      font-size: 20px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

  .iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 5%;
  }
    .updateIcon{
      margin: 2px;
      cursor: pointer;
    }
    .deleteIcon{
      margin: 2px;
      cursor: pointer;
    }