.red {
  color: red;
}
.green{
  color: green;
}
.operationView{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 10px;
  background-color: rgba(255, 236, 212, 0.404);
}

.postOperation{
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 50vh;

  margin-top: 15px;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 5px #ccc;

  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

  .typeOperation{  
    align-self: center;  
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
  }

  .conceptContainerOperation{
    display: flex;
    flex-direction: row;
    
    height: 55%;
    margin: 15px;
  }
    .conceptLabelOperation{
      align-self: center;
      justify-content: flex-start;

      width: 20%;
    }
    .conceptOperation{
      display: flex;
      justify-content: left;
      align-items: flex-start;
      
      
      margin-left: 5px;
      padding-left: 5px;

      width: 70%;
      height: 100%;
      
      border: 1px solid #ddd;
      background-color: rgb(245, 250, 255);
    }
    
  .amountOperation{
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dateOperation{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

    margin-top: 10px;
    margin-right: 5px;

    font-size: 11px;    
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }
